<div class="container" data-ng-controller="editarProdutoController">
    <div class="py-5 text-center">
        <h2>Editando</h2>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form class="needs-validation">
                <div class="row pb-3">
                    <div class="col-md-4">
                        <label for="nome">Nome</label>
                        <input type="text" data-ng-model="produtoService.editando.nome" class="form-control" id="nome" placeholder=""
                               required>
                    </div>
                    <div class="col-md-4">
                        <label for="quantidade">Quantidade</label>
                        <input type="number" data-ng-model="produtoService.editando.quantidade" class="form-control" id="quantidade"
                               placeholder="" min="0"
                               required>
                    </div>
                    <div class="col-md-4">
                        <label for="price">Preço</label>
                        <div class="input-group">
                            <input type="number" data-ng-model="produtoService.editando.price" class="form-control" id="price"
                                   placeholder="" min="0" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" data-ng-click="atualizar()" type="submit">Atualizar</button>
            </form>
        </div>
    </div>
</div>